<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./home.css">
{{>headerLink}}



 
    <title>home</title>
</head>
<body>

    <div class="container-fluid">
     {{>navbar}}
        <div class="row">
            
    <div class="col-md-10 col-12 head">
        <h4>Book International and Domastic Flights</h4>
        <form action="/flight" method="POST">
        
          <input type="text" class="inputTag" id="location-from1" placeholder="where from" name="locationFrom1">
         <input type="text" class="inputTag" id="location-to1" placeholder="where to" name="locationTo1">
         <input type="date" class="inputTag" id="departure_calender" placeholder="mm/dd/yy" name="departureCalender">
         <input type="date" class="inputTag" id="return_calender" placeholder="mm/dd/yy" name="returnCalender">
         <button type="submit" class="button" id="btn">search</button>
        </form>
           
         
               
        

         
    </div>
        </div>



        <div class="row my-5 mx-5">
            <div class="col-md-10 col-12">
                <div class="details">
                    <table class="table table-responsive-sm">
                        <thead class="thead-dark">
                            <tr>
                                <th>Company</th>
                                <th>departure</th>
                                <th>Arrival</th>
                                <th>Price</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="tbody">
                          
                         
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


{{!-- <script src="main.js">
   
</script> --}}
</body>
</html>